<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Page Entreprise</title>
    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/entreprise.css" rel="stylesheet">
</head><!--/head-->

<body id="home" class="homepage">
<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top top-nav-collapse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Email-Campaign</a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a class= "navbar-brand"> Nom de l'entreprise</a></li>
                    <li class="scroll active"><a href="deconnexion" class= "navbar-brand">Déconnexion </a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->

<section id="services" >
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Gestion de la visibilité sur les campagnes</h2>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="media-body">
                            <h4 class="media-heading">Liste</h4>
                            <p><div id="campaigns">
                                <table><th>titre1</th><th>titre2</th>
                                    </tr><td>point</td><td>nom compagne qui est un petit peu long comparé à la taille de la ligne</td>
                                    </tr><td>point</td><td>nom compagne</td>
                                    </tr><td>point</td><td>nom compagne</td>
                                    </tr><td>point</td><td>nom compagne</td>
                                </table>
                            </div>
                            </p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

<footer id="footer">
    <div class="container text-center">
        All rights reserved © 2017
    </div>
</footer><!--/#footer-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/entreprise.js"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/entreprise.js"></script>
</html>