<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="utf-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/login.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="css/entreprise.css" media="screen" type="text/css" />
</head>
<body>
    <section id="login" class="login-card">
        <h1>Connexion</h1><br>
        <form>
            <input id="email" type="text" name="email" placeholder="Utilisateur">
            <input id="password" type="password" name="password" placeholder="Mot de passe">
            <input id="submit" type="submit" name="login" class="login login-submit" value="Connexion">
        </form>

        <div class="login-help">
            <a id="show-register">Inscription</a> • <a href="#">Mot de passe oublié</a>
        </div>
    </section>


    <section id="entreprise">
        <header id="header">
            <nav id="main-menu" class="navbar navbar-default navbar-fixed-top top-nav-collapse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">Email-Campaign</a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="scroll active"><a class= "navbar-brand"> Nom de l'entreprise</a></li>
                            <li class="scroll active"><a href="deconnexion" class= "navbar-brand">Déconnexion </a></li>
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->
        </header><!--/header-->

        <section>
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Gestion de la visibilité sur les campagnes</h2>
                </div>
                <div class="row">
                    <div class="features">
                        <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                            <div class="media service-box">
                                <div class="media-body">
                                    <h4 class="media-heading">Liste</h4>
                                    <p>
                                        <div id="campaigns">
                                            <table>
                                                <tr><th>titre1</th><th>titre2</th></tr>
                                                <tr><td>point</td><td>nom compagne qui est un petit peu long comparé à la taille de la ligne</td><tr>
                                                <tr><td>point</td><td>nom compagne</td></tr>
                                                <tr><td>point</td><td>nom compagne</td></tr>
                                                <tr><td>point</td><td>nom compagne</td></tr>
                                            </table>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div><!--/.col-md-4-->
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/#services-->
    </section><!--/#services-->

    <section id="register-card">

    </section>

    <section id="register-card">
        <div class="login-card">
            <h1>Inscription</h1><br>
            <p class="alert-error hidden"></p>
            <input id="label" type="text" name="label" placeholder="Nom de l'entreprise">
            <input id="email" type="text" name="email" placeholder="Email">
            <input id="password" type="password" name="password" placeholder="Mot de passe">
            <input id="password-confirm" type="password" name="password-confirm" placeholder="Confirmez votre mot de passe">
            <input id="url-ad" type="text" name="url-ad" placeholder="URL du site de l'entreprise">
            <input id="url-picture" type="text" name="url-picture" placeholder="URL de l'image">
            <input id="submit-register" type="submit" name="login" class="login login-submit" value="Inscription">
        </div>
    </section>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>
</html>