<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="utf-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/login.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="css/entreprise.css" media="screen" type="text/css" />
</head>
<body>
    <section class="login-card">
        <h1>Connexion</h1><br>
        <form>
            <input id="email" type="text" name="email" placeholder="Utilisateur">
            <input id="password" type="password" name="password" placeholder="Mot de passe">
            <input id="submit" type="submit" name="login" class="login login-submit" value="Connexion">
        </form>

        <div class="login-help">
            <a href="#">Inscription</a> • <a href="#">Mot de passe oublié</a>
        </div>
    </section>


    <section id="entreprise" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">C'est notre projet !</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Responsive Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    ing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
                                    ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">UX Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    ing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
                                    ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">UI Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    ing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
                                    ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SEO Services</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    ing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
                                    ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">iOS Development</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    ing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
                                    ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Andriod Development</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    ing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
                                    ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>
</html>