<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="utf-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/login.css" media="screen" type="text/css" />
</head>
<body>
    <div class="login-card">
        <h1>Connexion</h1><br>
        <form method="post" action="">
            <input id="user" type="text" name="user" placeholder="Utilisateur">
            <input id="pass" type="password" name="pass" placeholder="Mot de passe">
            <input id="submit" type="submit" name="login" class="login login-submit" value="Connexion">
        </form>

        <div class="login-help">
            <a href="#">Inscription</a> • <a href="#">Mot de passe oublié</a>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/login.js"></script>
</html>